/* For Mobile Phones (Mini models, like iPhone 12 Mini or 13 Mini) */

@media only screen and (max-width: 380px) {
    /* Global */

    .navContainer {
        font-size: 20px;
        margin-left: 2%;
    }

    nav {
        flex-direction: column;
        left: 1%;
        font-size: 14px;
    }

    #logoImg {
        width: 20%;
    }

    hr {
        width: 30%;
    }

    /* Home Page */

    .headColor {
        font-size: 22px;
    }

    .latestMovies, .selectedImage {
        display: none;
    }

    .homeMobile {
        display: flex;
        max-width: 768px;
        width: 40%;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    .mobileMovies {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        border: solid 2px;
        margin-bottom: 25%;
        font-size: 12px;
    }

    #mobileImg {
        width: 100%;
    }

    .pagination {
        display: none;
    }

    .paginationMobile {
        display: flex;
        gap: 60%;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 80%;
    }

    #nextButtonMobile {
        display: flex;
        border-style: none;
        width: 30%;
        border: #FED45E solid 1px;
        cursor: pointer;
        height: 40px;
    }

    #prevButtonMobile {
        border-style: none;
        width: 30%;
        border: #FED45E solid 1px;
        cursor: pointer;
        height: 40px;
    }

    /* About Page */

    /* Contact Page */

    .contactForm {
        max-width: 768px;
        width: 55%;
    }

    .form {
        width: 100%;
        font-size: 12px;
        margin-bottom: 15%;
    }

    .form-error {
        transition: all 1s;
        margin: 0;
        font-size: 12px;
    }

    .form-error p {
        color: red !important;
        background-color: black;
    }

    #subject {
        width: 100%;
    }

    #description {
        width: 100%;
    }

    #submit {
        width: 100%;
        font-size: 30px;
    }

    /* Reviews Page */

    .allMovies {
        width: 70%;
    }

    .apiImage > img {
        width: 100%;
    }

    /* Specific Page */

    .getReview {
        flex-wrap: wrap;
    }

    .specificReview  {
        width: 60%;
    }

    .movieDesc {
        font-size: 14px;
    }

}

/* Phones regular sizes and big models */
@media only screen and (min-width: 380px) and (max-width: 880px) {

    /* Global */

    .navContainer {
        font-size: 20px;
        margin-left: 2%;
    }

    nav {
        flex-direction: column;
        left: 2%;
    }

    .active {
        max-width: 50px;
    }

    #logoImg {
        width: 30%;
    }

    hr {
        width: 50%;
    }

    /* Home Page */

    .headColor {
        font-size: 42px;
    }

    .latestMovies, .selectedImage {
        display: none;
    }

    .homeMobile {
        display: flex;
        flex-direction: row;
        width: 40%;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    .mobileMovies {
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
    }

    #mobileImg {
        width: 100%;
    }
    
    .pagination {
        display: none;
    }

    .paginationMobile {
        display: flex;
        gap: 60%;
        justify-content: center;
        align-items: center;
        margin: auto;
        width: 80%;
    }

    #nextButtonMobile {
        display: flex;
        border-style: none;
        width: 30%;
        border: #FED45E solid 1px;
        cursor: pointer;
        height: 40px;
    }

    #prevButtonMobile {
        border-style: none;
        width: 30%;
        border: #FED45E solid 1px;
        cursor: pointer;
        height: 40px;
    }

    /* About Page */

    /* Contact Page */

    .contactForm {
        max-width: 768px;
        width: 55%;
    }

    .form {
        width: 100%;
        font-size: 12px;
        margin-bottom: 15%;
    }

    .form-error {
        transition: all 1s;
        margin: 0;
        font-size: 12px;
    }

    .form-error p {
        color: red !important;
        background-color: black;
    }

    #subject {
        width: 100%;
    }

    #description {
        width: 100%;
    }

    #submit {
        width: 100%;
        font-size: 30px;
    }

    /* Reviews Page */

    .allMovies {
        width: 70%;
    }

    .apiImage > img {
        width: 100%;
    }

    /* Specific Review Page */

    .getReview {
        flex-wrap: wrap;
    }

    .specificReview  {
        width: 80%;
    }

    .movieDesc {
        font-size: 14px;
    }

}

/* Tablet */

@media only screen and (min-width: 880px) {
}

/* Laptop */

@media only screen and (min-width: 1200px) {
}

/* For Desktop */

@media only screen and (min-width: 1600px) {
}

/* Bigger Monitors */

@media only screen and (min-width: 2000px) {
}