/*--------------*/
/*--------------*/

/* Global Start */

@import url(//fonts.googleapis.com/css?family=Montserrat);

/* Color Theme Swatches in Hex */
.My-Color-Theme-1-hex { color: #7AE0FF; }
.My-Color-Theme-2-hex { color: #4393DE; }
.My-Color-Theme-3-hex { color: #4877F0; }
.My-Color-Theme-4-hex { color: #393EDB; }
.My-Color-Theme-5-hex { color: #7E5FFA; }

* {
    font-family: "Montserrat", "sans-serif";
    background-color: #7E5FFA;
    color: #29363c;
}

ul, a, li {
    list-style: none;
}

a:active, a:visited {
    list-style: none;
}

.colors {
    color: #162226; /*Primary Background Color*/
    color: #2B3640; /*Secondary Bacgrkound Color/Navbar Color*/
    color: #455973; /*Button Color*/
    color: #7289A6; /*Secondary Text Color*/
    color: #9BAEBF; /*Primary Text Color*/
}

button {
    background-color: #455973;
    list-style: none;
    border-radius: 25%;
    border: #2B3640 2px solid;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logoImg {
    width: 15%;
}

/* Global End */

/*--------------*/

/* Nav Start */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #29363c !important;
    width: 100%;
    height: 50px;
}

.navContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;    
    width: 30%; /* Gap for Navbar */
}

a:active, li:hover {
    background-color: #455973;
}

.active {
    background-color: #455973;
}

a:after, a:link, a:active, a:hover {
    list-style: none;
    text-decoration: none;
}

/* Nav End */

/*--------------*/

/* Home Start */

.home-page {
    display: flex;
    justify-content: center;
    align-items: center;

}

/* Home End */

/*--------------*/

/* About Start */

/* About End */

/*--------------*/

/* Contact Start */

/* Contact End */

/*--------------*/

/* List Start */

/* List End */

/*--------------*/

/* Specific Start */

/* Specific End */

/*--------------*/

/* Footer Start */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

/* Footer End */

/*--------------*/
/*--------------*/