/*--------------*/
/*--------------*/

/* Global Start */

@import url(//fonts.googleapis.com/css?family=Montserrat);

/* Color Theme Swatches in Hex */
.My-Color-Theme-1-hex { color: #7AE0FF; }
.My-Color-Theme-2-hex { color: #4393DE; }
.My-Color-Theme-3-hex { color: #4877F0; }
.My-Color-Theme-4-hex { color: #393EDB; }
.My-Color-Theme-5-hex { color: #7E5FFA; }

/* 
  background-image: linear-gradient(to right, #5C2682 , #7E5FFA);
*/

* {
    font-family: "Montserrat", "sans-serif";
    color: #F2E205;
}

body {
    background-image: linear-gradient(to right, #5C2682 , #7E5FFA);
}

header {
    background-image: linear-gradient(to right, #5C2682 , #7E5FFA);
}

ul, a, li {
    list-style: none;
}

a:active, a:visited {
    list-style: none;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-image: linear-gradient(to right, #5C2682 , #7E5FFA); 
}

::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to right, #431c5f , #6148c4); 
}

::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(to right, #37164e , #3e2f7c);
}

.colors {
    color: #162226; /*Primary Background Color*/
    color: #2B3640; /*Secondary Bacgrkound Color/Navbar Color*/
    color: #455973; /*Button Color*/
    color: #7289A6; /*Secondary Text Color*/
    color: #9BAEBF; /*Primary Text Color*/
}

button {
    background-color: #455973;
    list-style: none;
    border-radius: 25%;
    border: #2B3640 2px solid;
}

#moveRight {
    display: block;
    cursor: pointer;
}

#moveLeft {
    display: none;
    cursor: pointer;
}

#logoImg {
    width: 50%;
}

/* Global End */

/*--------------*/

/* Nav Start */

nav {
    display: flex;
    position: fixed;
    top: 10%;
    left: 5%;
    width: 10em;
    justify-content: center;
    align-items: center;
}

.navContainer {
    display: flex;
    flex-direction: column;
    font-size: 30px;
    margin-left: 3%;
}

a:active, li:hover {
    color: #4877F0;
}

.active {
    opacity: 50%;
}

a:after, a:link, a:active, a:hover {
    text-decoration: none;
}

hr {
    width: 75%;
    opacity: 20%;
}

/* Nav End */

/*--------------*/

/* Home Start */

.home-page {
    display: flex;
    justify-content: center;
    align-items: center;
}

#homeH1, #homeH2 {
    text-align: center;
}

.homeColor {
    font-size: 72px;
    text-align: center;
    background: -webkit-linear-gradient(to right, #d4322c, #FED45E); /*  Provided by CSS-Tricks https://css-tricks.com/snippets/css/gradient-text/ */
    background: -o-linear-gradient(right, #d4322c, #FED45E); /* Solution Provided by Stackoverflow answer https://stackoverflow.com/a/39884317 */
    background: -moz-linear-gradient(right, #d4322c, #FED45E); /* Solution Provided by Stackoverflow answer https://stackoverflow.com/a/39884317 */
    background: linear-gradient(to right, #d4322c, #FED45E); /* Solution Provided by Stackoverflow answer https://stackoverflow.com/a/39884317 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.homeMovies {
    text-align: center;
    border: solid 2px;
    margin-bottom: 10%;
}

.latestMovies {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin: auto;
    width: 60%;
    gap: 15%;
}

.apiImage > img {
    width: 200px;
}

/* Home End */

/*--------------*/

/* About Start */

.aboutMain {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 50%;
}

/* About End */

/*--------------*/

/* Contact Start */

.contactForm {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 60%;
}

.submitButton {
    border: solid 2px;
}

#submit {
    cursor: pointer;
}

.form-error {
    display: none;
    color: red;
}

/* Contact End */

/*--------------*/

/* List Start */

.sectionBorder {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: auto;
    margin-left: 15%;
    border: solid 2px;
}

.allMovies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 50%;
    gap: 10%;
}

.listMovies {
    margin-top: 7%;
    text-align: center;
    border: solid 2px;
}

/* List End */

/*--------------*/

/* Specific Start */

.getReview {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: auto;
}

#specificH1 {
    text-align: center;
}

#specificImg {
    width: 30%;
}

/* Specific End */

/*--------------*/

/* Footer Start */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-image: linear-gradient(to right, #5C2682 , #7E5FFA);

}

/* Footer End */

/*--------------*/
/*--------------*/